@using UniversityCourseAndResultManagementSystem.Models

@{
    ViewBag.Title = "SaveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message;
    List<Department> departments = ViewBag.Departments;
    List<Semester> semesters = ViewBag.Semesters;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<div>
    <form method="POST" id="saveCourseForm">
        <table>
            <tr>
                <td><label for="CourseCode">Course Code</label></td>
                <td><input type="text" id="CourseCode" name="CourseCode"/></td>
            </tr>
            <tr>
                <td><label for="CourseName">Course Name</label></td>
                <td><input type="text" id="CourseName" name="CourseName"/></td>
            </tr>
            <tr>
                <td><label for="CourseCredit">Course Credit</label></td>
                <td><input type="text" id="CourseCredit" name="CourseCredit"/></td>
            </tr>
            <tr>
                <td><label for="CourseDescription">Description</label></td>
                <td><textarea id="CourseDescription" name="CourseDescription" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td><label for="">Department</label></td>
                <td>
                    <select id="DepartmentId" name="DepartmentId">
                        <option value="">--Select--</option>
                        @foreach (Department department in departments)
                        {
                            <option value="@department.DepartmentId">@department.DepartmentName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="">Semester</label></td>
                <td>
                    <select id="SemesterId" name="SemesterId">
                        <option value="">--Select--</option>
                        @foreach (Semester semester in semesters)
                        {
                            <option value="@semester.SemesterId">@semester.SemesterName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
    @ViewBag.Message
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $("#saveCourseForm").validate({
            rules: {
                CourseCode: {
                    required: true,
                    maxlength: 5,
                    minlength: 5
                },
                CourseName: "required",
                CourseCredit: {
                    required: true,
                    max: 5,
                    min: 0.5
                },
                DepartmentId: "required",
                SemesterId: "required"
            },
            messages: {
                CourseCode: {
                    required: "Please enter a course code",
                    maxlength: "Enter 5 characters long course code only.",
                    minlength: "Enter 5 characters long course code only."
                },
                CourseName: "Please enter department name",
                CourseCredit: {
                    required: "Please enter course credit",
                    max: "Course credit can't be greater than 5.0",
                    min: "Course credit can't be less than 0.5"
                },
                DepartmentId: "Please select a department",
                SemesterId: "Please select a semester"
            }
        });
    </script>
</body>
</html>
